{% extends "layout.html" %}
{% block ads_active %}active{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2>You can edit your ad "{{ article.name }}" using the form bellow</h2>
            <div class="row">
            <form action="{{ url_for('update_article', article_id=article.id) }}" method="post" class="add-entry">
                <div class="col-xs-12 input-group">
                    <label for="name">Your ad's name</label>
                    <input type="text" class="form-control" placeholder="Your ad's name" id="name" name="name" value="{{ article.name }}" autofocus="">
                </div>
                <div class="col-xs-12 input-group">
                    <label for="photo">Your ad's photo's URL</label>
                    <input type="text" class="form-control" placeholder="Your ad's photo's URL" id="photo" name="photo" value="{{ article.photo }}">
                </div>
                <div class="col-xs-12 input-group">
                    <label for="price">Your ad's price</label>
                    <input type="number" class="form-control" placeholder="Your ad's price (€)" id="price" name="price" min="0" value="{{ article.price }}">
                </div>
                <div class="col-xs-12 input-group">
                    <label for="description">Your ad's description</label>
                    <textarea name="description" class="form-control" id="description" placeholder="Your ad's description">{{ article.description }}</textarea>
                </div>
                <div class="col-xs-12 input-group">
                    <button type="submit" class="btn btn-lg btn-default btn-block">Update your ad</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
