<!doctype html>

<!DOCTYPE html>
<html>
<head>
  <title>Moneyzgone</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Brand" id="logo" class="img-responsive" src="{{ url_for('static', filename='img/moneygone.png') }}" height="75px"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          {% if not session.user_id %}
          <li>
            <form class="navbar-form navbar-right" action="{{ url_for('login') }}" method="post">
              <div class="form-group" >
                <div class="input-group" >
                  <span class="input-group-addon search-group" id="dollar">$$$</span>
                  <input type="text" class="form-control search-group login" placeholder="Username" id="username" name="username" required="">
                </div>
                <div class="input-group" id="password-group">
                  <input type="password" id="password" class="form-control search-group login" placeholder="Password" name="password" required="">
                  <span class="input-group-btn search-group">
                    <button type="submit" class="btn btn-default" id="loupe">Login</button>
                  </span>
                </div>
              </div>
            </form>
          </li>
          <li class="{% block register_active %}{% endblock %}"><a href="{{ url_for('register') }}">Register</a></li>
          {% else %}
          <li class="{% block ads_active %}{% endblock %}"><a href="{{ url_for('show_articles') }}">Ads</a><li>
          <li><a href="{{ url_for('logout') }}">Log out</a><li>
          {% endif %}
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div id="page">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-{% if 'Invalid' in message %}danger{% else %}success{% endif %} alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{ message }}
      </div>
    {% endfor %}
    
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{ error }}
    </div>
    {% endif %}

    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

</body>
</html>




